// ==========================================================================
// Main
// ==========================================================================

// I'm sure you can think of some awesome code to put here. I usually use it
// as a scratchpad before moving code into their own modules.

html {
	background: #fff;
	// border-left: 1px solid $gray--light;
	box-shadow: -10px 0 0 rgba(0,0,0,.3);
}

body {
	margin: em(65) 0 em(95) 1px;

	&:before {
		// Goofy way to keep left border full height. Could do it with a gradient as well.
		content: '';
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		width: 1px;
		background: $gray--light;
	}

	@include breakpoint(phablet){
		font-size: 16px;
	}
	@include breakpoint(phone){
		font-size: 14px;
	}
}

// Icons
.icon-defs {
	display: none;
}

// Editor stuff
.editor {
	padding: 0 em(30) 0;
}

.editor--content {
	min-height: 8em;
}

[contenteditable] { // Temporary
	outline: 0;
}

.post__title {
	margin: 0;
	padding: .83em 0;
	border-bottom: 1px solid $gray--light;
	line-height: 1.4;
}


// Featured images
.featured-image-container {
	position: relative;
	padding: 2px 0;
	border-bottom: 1px solid $gray--light;
	// background-position: center;
	// background-repeat: no-repeat;
	// background-size: cover;
}

.featured-image {
	display: block;
	padding: 62.5% 0 0 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}

.other-images {
	@include clearfix;
	display: none;
	margin: 0 0 46px;
	padding-bottom: 2px;
	border-bottom: 1px solid $gray--light;
}

.site-thumbnail {
	$size: 25%;
	position: relative;
	display: block;
	float: left;
	width: $size;
	padding: $size 0 0 $size;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 2px;
		background: #fff;
	}
}

.thumbs-large {
	$size: 33.333%;

	width: $size;
	padding: $size 0 0 $size;
}
// .thumbs-medium {
// 	width: 33.333%;
// 	padding: 33.333% 0 0 33.333%;
// }
.thumbs-small {
	$size: 12.5%;

	width: $size;
	padding: $size 0 0 $size;
}

.other-images--visible {
	.featured-image {
		display: none;
	}
	.other-images {
		display: block;
	}
}

.other-images__switch {
	position: absolute;
	bottom: 10px;
	right: 10px;
}


// Footer/actions
.actions {
	position: fixed;
	bottom: 0;
	left: 1px;
	width: 100%;
	height: em(65);
	background: $gray--ultralight;
	background: transparentize($gray--ultralight, .1);
	border-top: 1px solid $gray--light;
}

.post-actions {
	float: right;
	margin: em(14) em(30);
}


// Adminbar
.adminbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0 16px;
	min-height: em(65);
	background: $gray--dark;
	color: #fff;
	overflow: hidden;
	z-index: 9999;

	.dashicons {
		fill: #999;
	}
	@include breakpoint(phone) {
		min-height: 45px;
	}
}
.current-site {
	font-size: 16px;
	font-weight: $normal;

	a {
		color: #ededed;
		text-decoration: none;

		&:hover {
			color: #fff;
		}
	}
	@include breakpoint(tablet) {
		margin: 3px 0 0;
	}
	@include breakpoint(phone) {
		margin: 1px 0 0;
	}
}
.dashicons-wordpress-alt {
	position: relative;
	top: -1px;
}
.dashicons-admin-settings {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -22px;
}

// Icons
.dashicons {
	display: inline-block;
	width: 44px;
	height: 44px;
	padding: 12px;
	line-height: 44px;
	vertical-align: middle;
	overflow: hidden;
	fill: #79838c;

	svg {
		height: 20px;
	}
}
svg  {
	display: block;
}
