.icon-admin-links { background-image: url('png/admin-links.png'); background-repeat: no-repeat; }

.icon-admin-settings { background-image: url('png/admin-settings.png'); background-repeat: no-repeat; }

.icon-camera { background-image: url('png/camera.png'); background-repeat: no-repeat; }

.icon-edit { background-image: url('png/edit.png'); background-repeat: no-repeat; }

.icon-editor-bold { background-image: url('png/editor-bold.png'); background-repeat: no-repeat; }

.icon-editor-italic { background-image: url('png/editor-italic.png'); background-repeat: no-repeat; }

.icon-editor-quote { background-image: url('png/editor-quote.png'); background-repeat: no-repeat; }

.icon-editor-ul { background-image: url('png/editor-ul.png'); background-repeat: no-repeat; }

.icon-editor-unlink { background-image: url('png/editor-unlink.png'); background-repeat: no-repeat; }

.icon-icons { background-image: url('png/icons.png'); background-repeat: no-repeat; }

.icon-no { background-image: url('png/no.png'); background-repeat: no-repeat; }

.icon-wordpress-alt { background-image: url('png/wordpress-alt.png'); background-repeat: no-repeat; }

