/**
* #.# Buttons
*
* Pushing buttons is what I do.
*/


@import
	"variables",
	"mixins",
	"extends";


.button-primary {
	@extend %button--primary;
}

.button-subtle {
	@extend %button;
	background: none;
	border: 0;
	color: map-get( $buttons, subtle__color );

	&:visited {
		color: map-get( $buttons, subtle__color );
	}
	&:focus,
	&:hover,
	&:active {
		color: map-get( $buttons, subtle__color--hover );
	}
	&:focus,
	&:active {
		outline: 0;
		text-decoration: underline;
	}
}

.button-reset {
	padding: 0;
	border: 0;
	background: none;

	&:focus {
		outline: 0;
	}

}