// ==========================================================================
// Buttons
// ==========================================================================

@import
	"variables",
	"mixins",
	"extends";


.button--secondary {
	@extend %button--secondary;
}

.button--primary {
	@extend %button--primary;
}

.button--subtle {
	@extend %button;
	background: none;
	border: 0;
	color: map-get( $buttons, subtle__text );

	&:visited {
		color: map-get( $buttons, subtle__text );
	}
	&:focus,
	&:hover,
	&:active {
		color: map-get( $buttons, subtle__text--hover );
	}
}

a.icon-button--dark {
	padding: 8px;
	width: auto;
	height: auto;
	border-radius: 3px;
	background: transparentize( map-get( $buttons, dark__background ), .1 );
	color: map-get( $buttons, dark__color );
	overflow: visible;

	&:visited {
		color: map-get( $buttons, dark__color );
	}
	&:focus,
	&:hover,
	&:active {
		color: map-get( $buttons, dark__color--hover );
	}
}
