/**
* #.# Buttons
*
* Pushing buttons is what I do.
*/


@import
	"mixins",
	"extends";

.button-primary {
	@extend %button;
	@include button( $blue--light, #fff );
}

.button-subtle {
	@extend %button;
	background: none;
	border: 0;
	color: $blue--dark;

	&:visited {
		color: $blue--dark;
	}
	&:focus,
	&:hover,
	&:active {
		color: $blue--light;
	}
	&:focus,
	&:active {
		outline: 0;
		text-decoration: underline;
	}
}

.button-reset {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	cursor: pointer;
	-webkit-appearance: none;

	&:focus {
		outline: 0;
	}

}
