// ==========================================================================
// Colors
// ==========================================================================

// ==========================================================================
// Default WP admin colors
// ==========================================================================

$gray--ultralight: #f1f1f1; // background gray
$gray--light: #e5e5e5; // borders and hrs
$gray--middle: #727272; // blockquote
$gray--dark: #222; // admin bar

$blue--light: #2ea2cc; // highlight color
$blue--dark: #0074a2; // highlight color
