// ==========================================================================
// Elements Variables
// ==========================================================================

// Horizontal rule
$hr__color: $gray--light;

// _links
$link-color:(
    color: $blue--dark,
    color--hover: $blue--light,
    color--visited: $blue--dark,
);
