// ==========================================================================
// Categories
// ==========================================================================

.categories-search,
.add-category__name {
	display: block;
	width: 100%;
	padding: em( 12px, 14px ) em( 15px, 14px );
	border: 0;
	border-bottom: 1px solid $gray--light;
	font-size: 14px;
}

.add-cat-toggle {
	float: right;
	margin-top: -40px;

	& > span {
		vertical-align: bottom;
	}

}

.add-category {
	position: relative;

	&.is-hidden {
		display: none;
	}

	.postform {
		display: none; // Temporal removement of Parent Category dropdown
	}

	.add-cat-submit {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		border: 0;
		padding: 0 16px;
		background: $gray--light;

			&:focus {
				outline: 0;
				background: $blue--light;
				color: #fff;
			}

	}

}


.categories-select {
	margin: 0;
	padding: 0;
	list-style: none;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	input {
		clear: none;
		position: absolute;
			top: 0;
			left: 0;
		display: block;
		line-height: 0;
		width: 100%;
		height: 100%;
		outline: 0;
		padding: 0;
		text-align: center;
		vertical-align: middle;
		-webkit-appearance: none;
		appearance: none;
		cursor: pointer;

		&:focus {
			box-shadow: inset 6px 0 0 $blue--light;
			background: transparentize( $blue--light, .95 );
		}
		&:checked {
			box-shadow: inset 6px 0 0 $blue--light;
			background: transparentize( $blue--light, .9 );

			&:after {
				display: inline-block;
				content: "\f147";
				position: absolute;
					top: 13px;
					right: 0;
				width: 20px;
				height: 20px;
				margin-right: 10px;
				font-size: 20px;
				line-height: 1;
				font-family: dashicons;
				text-decoration: inherit;
				color: #222;
				font-weight: 400;
				font-style: normal;
				vertical-align: top;
				text-align: center;
				-webkit-transition: color .1s ease-in 0;
				transition: color .1s ease-in 0;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}
	}

	$pad: 16px;

	label {
		position: relative;
		display: block;
		padding: 13px $pad 14px $pad; // TODO em() and responsive styles
		cursor: pointer;
		background: #fff;
	}

	ul {

		label { padding-left: $pad * 1.5; } // TODO find a more elegant and scalable way of doing this
		& ul label { padding-left: $pad * 2; }
		& ul ul label { padding-left: $pad * 2.5; }
		& ul ul ul label { padding-left: $pad * 3; }
		& ul ul ul ul label { padding-left: $pad * 3.5; }
		& ul ul ul ul ul label { padding-left: $pad * 4; }
	}

	.is-hidden {
		display: none;

		&.searched-parent {
			display: block;

			& > label {
			  // TODO define style of "searched-parent"
			}

		}
	}

}

// Search
.categories-search-wrapper {
	position: relative;

	label {
		position: absolute;
			top: 11px;
			right: 10px;
		color: #9ea7af;
	}
}
