// ==========================================================================
// Links
// ==========================================================================

$link-color:(
	color: $blue--dark,
	color--hover: $blue--light,
	color--visited: $blue--dark,
);

a {
	color: map-get( $link-color, color );
}

a:visited {
	color: map-get( $link-color, color--visited );
}

a:hover,
a:focus,
a:active {
	color: map-get( $link-color, color--hover );
}
