/**
* #.# Media
*
* Basic image and object styles
*/


img {
	max-width: 100%;
	height: auto;
}

/* Makes sure embeds and iframes fit inside their containers */
embed,
iframe,
object {
	max-width: 100%;
}
