/**
* #.# Post formats
*
* Complete styles for post formats UI
*/


/* TODO if we remove the <br> during merge, this can go. */
#post-formats-select {
	br {
		display: none;
	}
}

/* TODO Needed after merge? */
.post-format {
	width: 0;
	height: 0;
	position: absolute;
	top: -9999px;

	.lt-ie9 & {
		margin: 17px 12px 0 13px;
		width: auto;
		height: auto;
		position: static;
		top: auto;
		float: left;
		width: 16px;
		height: 16px;
	}
}

.post-format-icon {
	position: relative;
	display: block;
	padding: 13px 2px 14px 13px;
	cursor: pointer;

	&:before,
	&:after {
		content: "";
		display: inline-block;
		width: 20px;
		height: 20px;
		margin-right: 10px;
		font-size: 20px;
		line-height: 1;
		font-family: dashicons;
		text-decoration: inherit;
		color: #9ea7af;
		font-weight: 400;
		font-style: normal;
		vertical-align: top;
		text-align: center;
		-webkit-transition: color .1s ease-in 0;
		transition: color .1s ease-in 0;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	&:before {
		content: "\f109";
	}
	&:after {
		display: none;
		content: "\f147";
		float: right;
	}
	/* TODO Doesn't work in plugin. Might work in merge */
	.post-format:focus + & {
		box-shadow: inset 6px 0 0 $blue--light;
		background: transparentize( $blue--light, .95 );
	}
	.post-format:checked + & {
		box-shadow: inset 6px 0 0 $blue--light;
		background: transparentize( $blue--light, .9 );

		&:before,
		&:after {
			color: #333;
		}
	}
	.post-format:checked + &:after {
		display: block;
	}
	.lt-ie9 & {
		margin-left: 16px;
	}
}

.post-format {
	&-aside:before {
		content: "\f123";
	}
	&-image:before {
		content: "\f128";
	}
	&-video:before {
		content: "\f126";
	}
	&-audio:before {
		content: "\f127";
	}
	&-quote:before {
		content: "\f122";
	}
	&-link:before {
		content: "\f103";
	}
	&-gallery:before {
		content: "\f161";
	}
}
