// ==========================================================================
// Tags
// ==========================================================================


.tagsdiv {
	// margin-top: -8px;
	p {
		margin: 0;
	}
	.ajaxtag{
		position: relative;
	}
	.newtag {
		display: block;
		position: relative;
		padding: 11px 58px 11px 16px;
		width: 100%;
		border: 0;
		border-bottom: 1px solid $gray--light;
		font-size: 16px;
	}
	.tagadd {
		position: absolute;
			top: 0;
			right: 0;
			bottom: 1px;
		border: 0;
		border-radius: 0;
		padding: 0 16px;
		background: #f7f7f7;
		border-left: 1px solid $gray--ultralight;

		&:hover,
		&:active,
		&:focus {
			outline: 0;
			background: darken( $blue--light, 5% );
			border-color: darken( $blue--light, 15% );
			color: #fff;
		}
	}
	.howto {
		color: $gray--middle;
		font-style: italic;
		margin: 10px 0 6px 16px;
	}
}

.nojs-tags {
	padding: 16px;
}
.tagsdiv .the-tags {
	display: block;
	min-height: 60px;
	margin: 0;
	overflow: auto;
	width: 100%;
}

/* tag hints */
.taghint {
	@extend .screen-reader-text;
}

input.newtag ~ div.taghint {
	visibility: visible;
}

input.newtag:focus ~ div.taghint {
	visibility: hidden;
}


// Tag suggestions
.ac_results {
	padding: 0;
	margin: -1px 0 0 -1px;
	list-style: none;
	position: absolute;
	z-index: 10000;
	display: none;
	border: 1px solid darken( $gray--light, 5% );
	background-color: #fff;
	font-size: 14px;

	li {
		padding: 6px 16px;
		white-space: nowrap;
		color: #101010;
		text-align: left;
	}
	.ac_over {
		background-color: $gray--light;
		background-color: $blue--light;
		color: #fff;
		cursor: pointer;
	}
}

.ac_match {
	text-decoration: underline;
}


// Tags
.tagchecklist {
	@include clearfix;
	padding: 16px 28px;

	span {
		display: block;
		margin-right: 25px;
		float: left;
		font-size: 13px;
		line-height: 1.8em;
		white-space: nowrap;
		cursor: default;
	}
	.ntdelbutton {
		margin: 1px 0 0 -17px;
		cursor: pointer;
		width: 20px;
		height: 20px;
		display: block;
		float: left;
		text-indent: 0;
		overflow: hidden;
		position: absolute;
		outline: 0;

		&:before {
			content: '\f153';
			display: block!important;
			margin: 2px 0;
			height: 20px;
			width: 20px;
			background: 0 0;
			color: #9ea7af;
			font: 400 16px/1 dashicons;
			text-align: center;
			speak: none;
			-webkit-font-smoothing: antialiased!important
		}

		&:focus:before {
			color: map-get( $link-color, color--hover );
		}

	}
}

// Tag cloud
.tagsdiv + p {
	margin: 0;
}

.tagcloud-link {
	display: block;
	padding: 0 16px;
	text-decoration: none;
	outline: 0;
}

.popular-tags {
	border: none;
	line-height: 2em;
	padding: 8px 12px 12px;
	text-align: justify;
}

.popular-tags a {
	padding: 0 3px;
}

.the-tagcloud {
	margin: 0;
	padding: 16px;

	a {
		text-decoration: none;
		outline: 0;
	}
}

.tagcloud h3 {
	margin: 2px 0 12px;
}

@media screen and ( max-width: 782px ) {
	/* Tags Metabox */
	.tagsdiv .newtag {
		width: 100%;
		height: auto;
		margin-bottom: 15px;
	}

	.tagchecklist {
		margin: 25px 10px;
	}

	.tagchecklist span {
		font-size: 16px;
		line-height: 120%;
	}
}
