/**
* #.# TinyMCE styles
*
* Pretty dang good.
*/


@import url( '//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600,700' );

body {
	color: map-get( $root-font, color );
	font-family: $open-sans;
	font-size: map-get( $root-font, font-size );
	font-weight: $normal;
	line-height: map-get( $root-font, line-height );

	&#tinymce {
		@include breakpoint( '<900px' ) {
			padding-top: 30px !important;
		}
	}
	@media ( max-width: 640px ){
		font-size: 16px;
	}
	@include breakpoint( '<320px' ) {
		margin: 0 15px;
	}
}

#tinymce {
	b,
	strong {
		/* overrides TinyMCE's !important. Woohoo. */
		font-weight: 700 !important;
	}
}

blockquote {
	margin: 1em 1.5em;
	color: #9ea7af;
	font-size: em( 25px );
	font-style: italic;

	@include breakpoint( '<900px' ) {
		margin: 1.5em 1em;
	}
}

ul,
ol {
	margin: 0 0 1.5em .75em;
}
