// ==========================================================================
// Main
// ==========================================================================

$sidebar-size: 320px;

html,
body {
	overflow-x: hidden;
	height: 100%;
}

html {
	background: #fff;
	box-shadow: -10px 0 0 rgba( 0,0,0,.3 );
}

body {
	@include breakpoint( '<900px' ) {
		font-size: 16px;
	}
	@include breakpoint( '<320px' ) {
		font-size: 14px;
	}
}


// Adminbar
.adminbar {
	@include clearfix;
	position: relative;
	width: 100%;
	padding: 0 em( 16px );
	min-height: em( 64px );
	background: $gray--dark;
	color: #fff;
	z-index: 9999;

	.dashicons {
		color: #999;
	}
	button {
		position: absolute;
			top: 50%;
			right: 6px;
		margin-top: -13px;
	}
	@include breakpoint( '<320px' ) {
		min-height: 45px;
	}
}

.current-site {
	margin-top: em( 9px, 16px );
	font-size: 16px;
	line-height: 44px;
	font-weight: $normal;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	@include breakpoint( '<600px' ) {
		margin: 3px 0 0;
	}
	@include breakpoint( '<320px' ) {
		margin: 0;
		font-size: 14px;
	}
	span:nth-child( 2 ) {
		color: #ededed;

		@include breakpoint( '<320px' ) {
			font-weight: 600;
		}
	}
	.dashicons-wordpress {
		position: relative;
		top: -1px;
		margin-right: 10px;
		vertical-align: middle;
	}
}

.options-open,
.options-close {
	display: none;

	@include breakpoint( '<900px' ) {
		display: block;
	}
	&.is-hidden {
		display: none;
	}
}

.options-open {
	&:focus .dashicons {
		color: #fff;
		text-decoration: none;
	}
	.dashicons {
		margin-top: 3px;
	}
}

.options-close {
	color: $blue--light;
}


// Alerts
.alerts {
	overflow: hidden; // lazy clearfix
	padding: em( 18px ) 0;
	border-bottom: 1px solid $gray--light;
	transform: translateZ( 0 );
}

.notice,
.error {
	position: relative;
	margin: 0 em( 30px,14px );
	padding: em( 5px, 14px ) em( 20px, 14px );
	font-size: 14px;

	@include breakpoint( '<600px' ) {
		margin: 0 15px;
	}
	&:before {
		$dot-size: 8px;

		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		width: $dot-size;
		height: $dot-size;
		margin-top: -0.5 * $dot-size;
		border-radius: 50%;
		background: $blue--light;
	}
}
.error {
	&:before {
		background: red;
	}
}


// Scanner form styles
.scan {
	position: relative;
	border-bottom: 1px solid $gray--light;

	@include breakpoint( '<900px' ) {
		form {
			transition: opacity .3s ease-in-out;
		}
		&.is-hidden form {
			opacity: .2;
			pointer-events: none;
		}
	}
}

.scan-url {
	display: block;
	border: 0;
	padding: em( 12px, 14px ) em( 15px, 14px );
	font-size: 14px;
	width: 100%;

	@include breakpoint( '<600px' ) {
		font-size: 16px; // to prevent zooming on iOS. Guh.
	}
}

.scan-submit {
	@extend %button;
	@extend %button--secondary;
	position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
	padding: em( 12px, 14px ) em( 15px, 14px );
	border: 0;
	border-left: 1px solid $gray--ultralight;
	border-radius: 0;
	font-size: 14px;
	line-height: 1.6;

	&:hover,
	&:focus {
		background: darken( $blue--light, 5% );
		border-color: darken( $blue--light, 15% );
		color: #fff;
	}

	&:active {
		background: darken( $blue--light, 10% );
		border-color: darken( $blue--light, 15% );
		color: #fff;
	}
}


// Editor stuff
.wrapper {
	@include clearfix;
	position: relative;
	margin-bottom: 60px;
	margin-right: $sidebar-size;

	@include breakpoint( '<900px' ) {
		margin: 0;
		width: 100%;
	}
}

.editor-wrapper { // TODO move this
	@include clearfix;
	overflow: auto;
	float: left;
	width: 100%;
}

.editor {
	padding: 0 em( 30px ) em( 95px );
	max-width: 700px;
	margin: 0 auto;

	@include breakpoint( '>900px' ) {
		max-width: 760px;
	}
	@include breakpoint( '<320px' ) {
		padding: 0;
	}
}

.editor--content {
	min-height: 8em;

	@include breakpoint( '<320px' ) {
		padding: 0 em( 20px, 14px );
	}
}

.post-title,
.post-title-placeholder {
	margin: 0;
	padding: .83em 0;
	width: 100%;
	border-bottom: 1px solid $gray--light;
	font-size: 32px;
	line-height: 1.4;
	font-weight: $bold;

	&:active,
	&:focus {
		outline: 0;
		box-shadow: inset 0px -3px 0 $blue--light;
		border-color: $blue--light;
	}
	@include breakpoint( '<900px' ) {
		font-size: 24px;
	}
	@media ( max-height: 400px ) {
		padding: 15px 0;
		font-size: 16px;
	}
	@include breakpoint( '<320px' ) {
		font-size: 16px;
		font-weight: 600;
		padding: em( 16px, 14px ) em( 20px, 14px );
	}
}

.post-title {
	/* IE8 fallback */
	background: url(data:image/gif;base64,R0lGODlhAQABAJEAAAAAAP///////wAAACH5BAEHAAIALAAAAAABAAEAAAICVAEAOw==);
	background: none, none;

	&:before {
		/* Keeps empty container from collapsing */
		content: '\a0';
		display: inline-block;
		width: 0;
		speak: none;
	}
}

.post-title-placeholder {
	position: absolute;
	border: 0;
	color: #9ea7af;
	z-index: -1;
}


// Suggested images
.featured-container {
	position: relative;
	padding: 2px 0;
	border-bottom: 1px solid $gray--light;
}

.featured-image {
	display: block;
	padding: 62.5% 0 0 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 0 !important; // NOOOOOOOOOO
	cursor: pointer;
}

.all-media {
	@include clearfix;
	display: none;
	overflow: auto;
	max-height: 150px;
	max-height: 40vw;

	@include breakpoint ( '>320px' ) {
		max-height: 250px;
		max-height: 40vw;
	}
	@include breakpoint ( '>600px' ) {
		max-height: 200px;
		max-height: 18.75vw;
	}
}

.wppt-all-media-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.suggested-media-thumbnail,
.suggested-media--embed  {
	&:focus {
		outline: 0;
		box-shadow: inset 0 0 0 3px $blue--light;
	}
}

.suggested-media-thumbnail {
	$size: 16.66%;
	position: relative;
	display: block;
	float: left;
	width: $size;
	padding: $size 0 0 $size;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: darken( $gray--light, 5% );
	color: #fff;
	color: rgba(255, 255, 255, 0.6);
	cursor: pointer;

	&:hover,
	&:active,
	&:focus {
		color: #fff;
	}
	&:before,
	&:after {
		display: inline-block;
		position: absolute;
		font-size: 20px;
		line-height: 1;
		font-family: dashicons;
		text-decoration: inherit;
		font-weight: 400;
		font-style: normal;
		-webkit-transition: color .1s ease-in 0;
		transition: color .1s ease-in 0;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	&:before {
		left: 50%;
		top: 50%;
		margin: -20px 0 0 -20px;
		font-size: 40px;
	}
	&:after {
		content: "\f132";
		right: 3%;
		bottom: 2%;
	}
	@include breakpoint ( '>600px' ) {
		$size: 12.5%;
		width: $size;
		padding: $size 0 0 $size;
	}
}

.suggested-media--embed {
	&:before {
		content: "\f104";
		color: #fff;
		color: rgba(255, 255, 255, 0.9);
	}

	&.is-audio,
	&.is-tweet {
		&:hover,
		&:active,
		&:focus {
			&:before {
				color: #fff;
			}
		}
	}
	&.is-video {
		background-color: #222;

		&:hover,
		&:active,
		&:focus {
			&:before {
				color: rgba(255, 255, 255, 0.2);
			}
		}
		&:before {
			content: "\f236";
		}
	}
	&.is-audio {
		background-color: #ff7d44;

		&:before {
			content: "\f127";
		}
	}
	&.is-tweet {
		background-color: #55acee;

		&:before {
			content: "\f301";
		}
	}
}

.all-media--visible {
	.featured-image,
	#wppt_no_image,
	#wppt_all_media_switch {
		display: none;
	}
	.all-media {
		display: block;
	}
}
.no-media {
	margin: 0;
	padding: 0;
	border: 0;
}


// Footer
.press-this__actions {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: $gray--ultralight;
	background: transparentize( $gray--ultralight, .1 );
	border-top: 1px solid $gray--light;

	@include breakpoint( '<900px' ) {
		transform: translateY( 0 );
		transition: transform .3s ease-in-out;

		&.is-hidden {
			transform: translateY( 100% );
		}
	}
}

.add-media {
	float: left;
	margin: 14px 0 14px 30px;
	font-size: 0;

	@include breakpoint( '<320px' ) {
		margin: 10px 0 10px 10px;
	}
}

.insert-media {
	color: #9ea7af;
	float: left;
	margin: 0;
	padding: 0;
	border: 0;
	border-right: 1px solid $gray--light;
	border-radius: 0;
	background: none;
	box-shadow: none;
	overflow: hidden;

	&:hover,
	&:focus,
	&:active {
		margin: 0;
		background: none;
		border-color: $gray--light;
		color: #222;
	}
	&:focus,
	&:active {
		outline: 0;
		color: $blue--light;
		text-decoration: none;
	}
	.dashicons {
		padding: 11px;
		width: 63px;
		height: 58px;
		font-size: 40px;

		@include breakpoint( '<320px' ) {
			width: 55px;
			height: 49px;
			padding: 14px;
			font-size: 20px;
		}
	}
}

.post-actions {
	float: right;
	margin: 14px 30px 14px 0;
	font-size: 0;

	@include breakpoint( '<320px' ) {
		margin: 10px 10px 10px 0;
	}
}


// TinyMCE
.editor {
	.wp-media-buttons {
		float: none;
	}
	div.mce-toolbar-grp {
		padding: em( 10px, 14px ) 0;
		background: none;
		border-color: $gray--light;

		@media ( max-height: 400px ), ( max-width: 320px ) {
			padding: 0;
			border: 0;
		}
	}
}

.mce-stack-layout {
	@include clearfix;
}

.mce-container.mce-toolbar {
	float: left;

	&:nth-child( 2 ) {
		float: right;
	}
}

@include breakpoint( '<600px' ) {
	#mceu_11,
	#mceu_12 {
		display: none;
	}
}

#wp-link-wrap.search-panel-visible {
	font-size: 13px;
}


// Options panel
.options-panel {
	position: relative;
	float: right;
	margin-right: -1 * $sidebar-size;
	width: $sidebar-size;
	border-left: 1px solid $gray--light;
	font-size: 14px;
	box-shadow: 5001px 5000px 0 5000px #fff, // Keeps background the full height of the screen
		5000px 5000px 0 5000px $gray--light;

	@include breakpoint( '<900px' ) {
		background: #fff;
		transform: translateX( -100% );
		transition: transform .3s ease-in-out;

		&.is-hidden {
			visibility: hidden;
		}

		&.is-off-screen {
			transform: translateX( 0 );
		}

	}
	@include breakpoint( '<320px' ) {
		margin-right: -100%;
		width: 100%;
		border: 0;
		box-shadow: 5001px 5000px 0 5000px #fff;
	}
}

.post-options {
	background: #fff;
	position: absolute;
		right: 0;
	width: 100%;
	overflow-x: hidden;

	.post-option__contents {
		margin-left: 3px;
		color: #333;
	}
	.dashicons-arrow-right-alt2 {
		position: absolute;
			top: 50%;
			right: 8px;
		margin-top: -10px;
	}

}

.post-option {
	position: relative;

	.post-options & { // TODO remove overqualifier after conversion to buttons
		display: block;
		padding: 13px 37px 13px 14px; // TODO em() and responsive styles
		border-bottom: 1px solid $gray--light;
		text-decoration: none;
		color: #9ea7af;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		transition: transform .3s ease-in-out;

		&:focus {
			outline: 0;
			box-shadow: inset 5px 0 0 $blue--light;
		}

	}

	.is-off-screen > & {
		right: 100%;
	}

	.is-hidden > & {
		visibility: hidden;
	}

	@media ( min-width: 1px ) {
		.is-off-screen > & {
			right: auto;
			transform: translateX( -100% );
		}
	}

}

.post-option__title {
	display: inline-block;
	margin: 0 0 0 8px; // TODO em()
	font-size: 14px; // TODO em()
	font-weight: normal;
}

.setting-modal {
	position: relative;
		top: 0;
		left: 0;
	width: 100%;
	overflow: hidden;
	transition: transform .3s ease-in-out;

	&.is-hidden {
		visibility: hidden;
		height: 0;
	}

	&.is-off-screen {
		left: 100%;
	}

	@media ( min-width: 1px ) {

		&.is-off-screen {
			left: 0;
				transform: translateX( 100% );
		}

	}

}

.modal-close {
	display: block;
	padding: 13px 14px; // TODO em()
	border-bottom: 1px solid $gray--light;
	text-decoration: none;

	&:focus {
		outline: 0;
		box-shadow: inset 5px 0 0 $blue--light;
	}

}

.setting-title {
	position: relative;
		top: -1px;
	margin-left: 11px;
}
