// ==========================================================================
// Main
// ==========================================================================

// I'm sure you can think of some awesome code to put here. I usually use it
// as a scratchpad before moving code into their own modules.

$sidebar-size: 320px;

html {
	background: #fff;
	box-shadow: -10px 0 0 rgba( 0,0,0,.3 );
}

body {
	margin: 0 0 0 1px;

	@include breakpoint( '<600px' ) {
		font-size: 16px;
	}
	@include breakpoint( '<320px' ) {
		font-size: 14px;
	}
}


// Adminbar
.adminbar {
	@include clearfix;
	position: relative;
	width: 100%;
	padding: 0 em( 16px );
	min-height: em( 64px );
	background: $gray--dark;
	color: #fff;
	z-index: 9999;

	.dashicons {
		color: #999;
	}
	button {
		position: absolute;
			top: 50%;
			right: 6px;
		margin-top: -13px;
	}
	@include breakpoint( '<320px' ) {
		min-height: 45px;
		background: #fff;
		background: transparentize( #fff, .1 );
		border-left: 1px solid $gray--light;
		border-bottom: 1px solid $gray--light;

		.dashicons {
			color: $blue--light;
		}
	}
}

.current-site {
	margin-top: em( 9px, 16px );
	font-size: 16px;
	line-height: 44px;
	font-weight: $normal;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	@include breakpoint( '<600px' ) {
		margin: 3px 0 0;
	}
	@include breakpoint( '<320px' ) {
		margin: 1px 0 0;
		color: #404040;
		font-size: 14px;
	}
	a {
		color: #ededed;
		text-decoration: none;

		&:hover {
			color: #fff;
		}
		@include breakpoint( '<320px' ) {
			color: #3f3f3f;
			font-weight: 600;

			&:hover {
				color: $blue--light;
			}
		}
	}
	.dashicons-wordpress {
		position: relative;
		top: -1px;
		margin-right: 10px;
		vertical-align: middle;
	}
}

.options-open,
.options-close {
	@include breakpoint( '>900px' ) {
		display: none;
	}
	&.is-hidden {
		display: none;
	}
}

.options-open {
	.dashicons {
		margin-top: 3px;
	}
}


// Alerts
.alerts {
	overflow: hidden; // lazy clearfix
	padding: em( 18px ) 0;
	border-bottom: 1px solid $gray--light;
	transform: translateZ( 0 );
}

.notice,
.error {
	position: relative;
	margin: 0 em( 30px,14px );
	padding: em( 5px, 14px ) em( 20px, 14px );
	font-size: em( 14px );

	&:before {
		$dot-size: 8px;

		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		width: $dot-size;
		height: $dot-size;
		margin-top: -0.5 * $dot-size;
		border-radius: 50%;
		background: $blue--light;
	}
}
.error {
	&:before {
		background: red;
	}
}


// Scanner form styles
.scan {
	position: relative;
	border-bottom: 1px solid $gray--light;
}
.scan__url {
	display: block;
	border: 0;
	padding: em( 12px, 14px ) em( 15px, 14px );
	font-size: 14px;
	width: 100%;
}
.scan__submit {
	@extend %button;
	@extend %button--secondary;
	position: absolute;
	top: 0;
	right: 0;
	padding: em( 12px, 14px ) em( 15px, 14px );
	border: 0;
	border-left: 1px solid $gray--ultralight;
	border-radius: 0;
	font-size: 14px;
	line-height: 1.6;

	&:hover,
	&:focus {
		background: darken( $blue--light, 5% );
		border-color: darken( $blue--light, 15% );
		color: #fff;
	}

	&:active {
		background: darken( $blue--light, 10% );
		border-color: darken( $blue--light, 15% );
		color: #fff;
	}
}


// Editor stuff
.wrapper {
	@include clearfix;
	position: relative;
	margin-right: $sidebar-size;

	@include breakpoint( '<900px' ) {
		margin: 0;
		width: 100%;
		overflow-x: hidden;
		transform: translate(0,0);
	}
}

.editor-wrapper { // TODO move this
	@include clearfix;
	overflow: auto;
	width: 100%;

	@include breakpoint( '<900px' ) {
		float: none;
	}
}

.editor {
	padding: 0 em( 30px ) em( 95px );
	max-width: 700px;
	margin: 0 auto;

	@include breakpoint( '<320px' ) {
		padding: 0;
	}
}

.editor--content {
	min-height: 8em;

	@include breakpoint( '<320px' ) {
		padding: 0 em( 20px, 14px );
	}
}

.post__title,
.post__title-placeholder {
	margin: 0;
	padding: .83em 0;
	width: 100%;
	border: 0;
	border-bottom: 1px solid $gray--light;
	font-size: 24px;
	line-height: 1.4;
	font-weight: $bold;
	resize: vertical;

	@media ( max-height: 400px ) {
		padding: 15px 0;
		font-size: 16px;
	}
	@include breakpoint( '<320px' ) {
		font-size: 1em;
		font-weight: 600;
		padding: em( 16px, 14px ) em( 20px, 14px );
	}
}

.post__title-placeholder {
	position: absolute;
	pointer-events: none;
}


// Suggested images
.featured-container {
	position: relative;
	padding: 2px 0;
	border-bottom: 1px solid $gray--light;
}

.featured-image {
	display: block;
	padding: 62.5% 0 0 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 0 !important; // NOOOOOOOOOO
	cursor: pointer;
}

.all-media {
	@include clearfix;
	display: none;
	overflow: auto;
	max-height: 150px;
	max-height: 40vw;

	@include breakpoint ( '>320px' ) {
		max-height: 250px;
		max-height: 40vw;
	}
	@include breakpoint ( '>600px' ) {
		max-height: 200px;
		max-height: 18.75vw;
	}
}

.suggested-media-thumbnail {
	$size: 16.66%;
	position: relative;
	display: block;
	float: left;
	width: $size;
	padding: $size 0 0 $size;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;

	@include breakpoint ( '>600px' ) {
		$size: 12.5%;
		width: $size;
		padding: $size 0 0 $size;
	}
}

.suggested-media--embed {
	background-color: $gray--middle;

	&:after {
		content: "\f236";
		display: inline-block;
		position: absolute;
			right: 3%;
			bottom: 2%;
		font-size: 20px;
		line-height: 1;
		font-family: dashicons;
		text-decoration: inherit;
		color: #fff;
		color: rgba(255, 255, 255, 0.9);
		font-weight: 400;
		font-style: normal;
		-webkit-transition: color .1s ease-in 0;
		transition: color .1s ease-in 0;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

.all-media--visible {
	.featured-image,
	#wppt_no_image,
	#wppt_all_media_switch {
		display: none;
	}
	.all-media {
		display: block;
	}
}
.no-media {
	margin: 0;
	padding: 0;
	border: 0;
}


// Footer
.press-this__actions {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: $gray--ultralight;
	background: transparentize( $gray--ultralight, .1 );
	border-top: 1px solid $gray--light;
}

.add-media {
	float: left;
	margin: 14px 0 14px 30px;
	font-size: 0;

	@include breakpoint( '<320px' ) {
		margin: 10px 0 10px 10px;
	}
}

.insert-media {
	color: #9ea7af;
	float: left;
	margin: 0;
	padding: 0;
	border: 0;
	border-right: 1px solid $gray--light;
	border-radius: 0;
	background: none;
	box-shadow: none;
	overflow: hidden;

	&:hover,
	&:focus,
	&:active {
		margin: 0;
		background: none;
		border-color: $gray--light;
		color: #222;
	}
	.dashicons {
		padding: 11px;
		width: 63px;
		height: 58px;
		font-size: 40px;

		@include breakpoint( '<320px' ) {
			width: 55px;
			height: 50px;
			padding: 7px;
		}
	}
}

.post-actions {
	float: right;
	margin: 14px 30px 14px 0;
	font-size: 0;

	@include breakpoint( '<320px' ) {
		margin: 10px 10px 10px 0;
	}
}


// TinyMCE
.editor {
	.wp-media-buttons {
		float: none;
	}
	div.mce-toolbar-grp {
		padding: em( 10px, 14px ) 0;
		background: none;
		border-color: $gray--light;

		@media ( max-height: 400px ), ( max-width: 320px ) {
			padding: 0;
			border: 0;
		}
	}
	div.mce-edit-area iframe {
		padding-top: em( 30px, 14px );
		border-bottom: 1px solid $gray--light;
	}
}

.mce-stack-layout {
	@include clearfix;
}

.mce-container.mce-toolbar {
	float: left;

	&:nth-child( 2 ) {
		float: right;
	}
}

@include breakpoint( '<600px' ) {
	#mceu_11,
	#mceu_12 {
		display: none;
	}
}


// Options panel
.options-panel {
	position: absolute;
		top: 0;
		right: -1 * $sidebar-size;
		bottom: 58px;
	overflow-x: hidden;
	width: $sidebar-size;
	border-left: 1px solid $gray--light;
	font-size: 14px;
	box-shadow: 5001px 5000px 0 5000px #fff, // Keeps background the full height of the screen
		5000px 5000px 0 5000px $gray--light;

	@include breakpoint( '<900px' ) {
		right: 0;
		transform: translateX( 100% );
		transition: all .3s ease-in-out;
		background: #fff;

		&.is-open {
			transform: translateX( 0 );
		}
	}
}

.post-options {
	background: #fff;
	position: relative;
		right: 0;
	width: 100%;
	transition: all .3s ease-in-out;

	&.is-hidden {
		right: 100%;
	}
	@media ( min-width: 1px ) {
		&.is-hidden {
			right: auto;
			transform: translateX( -100% );
		}
	}
	a {
		position: relative;
		display: block;
		padding: 13px 37px 13px 14px; // TODO em() and responsive styles
		border-bottom: 1px solid $gray--light;
		text-decoration: none;
		color: #9ea7af;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
	.post-option__contents {
		margin-left: 3px;
		color: #333;
	}

	.post-option__title {
		display: inline-block;
		margin: 0 0 0 8px; // TODO em()
		font-size: 14px; // TODO em()
		font-weight: normal;
	}

	.dashicons-arrow-right-alt2 {
		position: absolute;
			top: 50%;
			right: 8px;
		margin-top: -10px;
	}
}

.setting-modal {
	position: absolute;
		top: 0;
		left: 100%;
	width: 100%;
	transition: all .3s ease-in-out;

	&.is-active {
		left: 0;
	}
	@media ( min-width: 1px ) {
		left: 0;
			transform: translateX( 100% );

		&.is-active {
			transform: translateX( 0 );
		}
	}
}

.modal-close {
	display: block;
	padding: 13px 14px; // TODO em()
	border-bottom: 1px solid $gray--light;
	text-decoration: none;
}

.setting-title {
	position: relative;
		top: -1px;
	margin-left: 11px;
}

// TODO TEMPORARY
.post-option:nth-child(2) {
	display: none;
}
