// ==========================================================================
// Form extends
// ==========================================================================

%form-field {
	padding: em( 8px ) em( 15px );
	color: map-get( $form-field, color );
	border: 1px solid map-get( $form-field, border-color );

	&:focus {
		color: map-get( $form-field, color );
		outline: 0;
	}
}

%textarea {
	overflow: auto; // Removes default vertical scrollbar in IE6/7/8/9
	padding-left: 3px;
	vertical-align: top; // Improves readability and alignment in all browsers
}
