// ==========================================================================
// Dashicons
// ==========================================================================

.dashicons-bundle {
	display: none;
}

// Dashicons reset
// TODO Remove need for this
a,
span {
	&.dashicons,
	&.dashicons:before {
		font-size: inherit;
		line-height: inherit;
		font-family: inherit;
		font-weight: inherit;
		font-style: inherit;
		vertical-align: inherit;
		text-align: inherit;
		-webkit-transition: none;
		transition: none;
		-webkit-font-smoothing: auto;
		-moz-osx-font-smoothing: auto;
	}
	&.dashicons:before {
		display: none;
	}
}

.dashicons {
	display: inline-block;
	width: 20px;
	height: 20px;
	fill: #79838c;
	vertical-align: middle;

	svg {
		display: block;
		width: 100%;
		height: 100%;
	}
}

// Fallbacks
$dashicons:
	"admin-links",
	"camera",
	"edit",
	"editor-bold",
	"editor-italic",
	"editor-quote",
	"editor-ul",
	"editor-unlink",
	"images-alt2",
	"no",
	"plus",
	"wordpress-alt";

@each $icon in $dashicons {
	.dashicons-#{$icon} {
		background: url( ../images/icons/png/#{$icon}.png ) no-repeat center center;
		background: none, none; // The magic
	}
}
