// ==========================================================================
// Buttons
// ==========================================================================

@import "variables";
@import "mixins";
@import "extends";


// button,
// input[type="button"],
// input[type="reset"],
// input[type="submit"],
.button--secondary {
	@extend %button--secondary;
}

.button--primary {
	@extend %button--primary;
}

.button--subtle {
	@extend %button;
	background: none;
	border: 0;
	color: map-get($buttons, subtle__text);

	&:visited {
		color: map-get($buttons, subtle__text);
	}
	&:focus,
	&:hover,
	&:active {
		color: map-get($buttons, subtle__text--hover);
	}
}

.icon-button--dark {
	padding: 8px;
	width: 36px;
	height: 36px;
	border-radius: 3px;
	background: transparentize(map-get($buttons, dark__background), .1);
	fill: map-get($buttons, dark__color);
	overflow: visible;

	&:visited {
		fill: map-get($buttons, dark__color);
	}
	&:focus,
	&:hover,
	&:active {
		fill: map-get($buttons, dark__color--hover);
	}
	&:before {
		content: '';
		position: absolute;
		top: -4px;
		right: -4px;
		bottom: -4px;
		left: -4px;
	}
}
