// ==========================================================================
// Button extends
// ==========================================================================

// Base button styles
%button {
	padding: .6em 1em .4em;
	border: 1px solid #ccc;
	border-radius: 3px;
	cursor: pointer; // Improves usability and consistency of cursor style between image-type 'input' and others
	-webkit-appearance: button; // Corrects inability to style clickable 'input' types in iOS
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1;
}

%button--default {
	@extend %button;

	border-color: #ccc #ccc #bbb #ccc;
	background: #e6e6e6;
	color: rgba(0, 0, 0, .8);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);

	&:hover {
		border-color: #ccc #bbb #aaa #bbb;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
	}
	&:focus,
	&:active {
		border-color: #aaa #bbb #bbb #bbb;
		box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
	}
}
