// ==========================================================================
// Button variables
// ==========================================================================

$buttons:(
	primary__background: $blue--light,
	primary__color: #fff,

	secondary__background: #f7f7f7,
	secondary__color: #555,

	subtle__color: $blue--dark,
	subtle__color--hover: $blue--light,

	dark__background: #3d3e3f,
	dark__color: $gray--light,
	dark__color--hover: #fff,
);
